@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

.button-menu{

    font-weight: 900;
}

       
.search{
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);
         
}

       .search input{

        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;


       }


       .search .fa-search{

        position: absolute;
        top: 20px;
        left: 16px;

       }

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        max-width: 110px;
        background: green;

       }


       .matches{

              box-shadow: 0 0 40px blanchedalmond;
              padding: 2px;
              overflow: auto;
              max-height: 200px; 
       }


       .match-ul{

              list-style-type: none;
       }


      